/* Create contact backend */
html {
    --text: #080807;
    --offwhite: #f8f7f7;
    --offblack: #181c1b;
    --brown: #917752;
    --grey: #cfcfce;
}

h1 {
    font-size: 6rem;
    margin-bottom: 15px;
}

h2 {
    font-size: 4rem;
    margin-bottom: 15px;
    color: linear-gradient(321deg, rgba(2,0,36,0.29850672468354433) 0%, rgba(9,9,121,0.3080003955696202) 35%, rgba(0,212,255,0.3238231803797469) 100%);
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 50px;
}

p {
    font-size: 1.5rem;
}

@media (max-width:991px) {
    h1 {
        font-size: calc(1vw + 2rem);
    }
    h2 {
        font-size: calc(1vw + 2rem);
        margin: 0px;
    }
    h3 {
        font-size: calc(0.5vw + 1rem);
        margin-bottom: 25px;
    }
    p {
        font-size: calc(0.5vw + 1rem);
    }
}


.hero {
    width: 100%;
    text-align: center;
    font-family: "Light";
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(321deg, rgba(2,0,36,0.29850672468354433) 0%, rgba(9,9,121,0.3080003955696202) 35%, rgba(0,212,255,0.3238231803797469) 100%);
    box-shadow: inset 0px -15px 15px -15px #808080;
    color: #fff;
}

.hero ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  

.hero li a {
    margin: 10px;
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease-in-out;
}

.hero li a:hover{
    transform: scale(1.25);
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 25px;
}

@media screen and (max-width: 991px) {
    .wrapper {
        display: grid;
        padding-top: 0;
    }
}

.aboutContent {
    padding: 20px;
    background-color: #fff;
    margin: 50px;
    margin-top: 0;
    text-align: left;
    width: 1000px;
}

@media (max-width:991px) {
    .aboutContent {
        width: 700px;
    }
}

@media (max-width:710px) {
    .aboutContent {
        width: 450px;
    }
}


.resume {
    background: linear-gradient(321deg, rgba(2,0,36,0.29850672468354433) 0%, rgba(9,9,121,0.3080003955696202) 35%, rgba(0,212,255,0.3238231803797469) 100%);
    width: 200px;
    transform: scale(1.25);
    color: #000;
    font-family: "Medium";
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all .2s ease-in-out;
    border: none;
}

.resume:hover{
    transform: scale(1.20);
    cursor: pointer;
}
    
.section {
    width: 100%;
    text-align: center;
    font-family: "Light";
    padding-top: 100px;
}

.skillsContent {
    padding: 20px;
    border-radius: 25px;
    display: grid;
    grid-gap: 16px;
    background-color: #fff;
    margin: 50px;
    width: 300px;
}

.skillsList {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 28px;
    font-size: 22px;
    color: #777777;
}

@media (max-width:991px) {
    .skillsList {
        font-size: 18px;
    }
}

.skillsIcon {
    width: 25px;
    height: 25px;
}

.skillsIcon path{
    fill: #777777 !important;
    stroke: #777777 !important; 
}

.projectsContent {
    border-radius: 5px;
    margin: 50px;
    background-color: #fff;
    box-shadow: 0px 7px 10px -5px #808080;
    width: 300px;
    height: 500px;
    transition: all .2s ease-in-out;
}

.projectsImage {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
}

.projectsText h3 {
    padding-bottom: 10px;
    margin: 0;
    color: #000;
    text-align: left;
}

.projectsText p {
    padding: 0;
    margin: 0;
    color: #000;
    text-align: left;
    font-size: 1.25rem;
}

.projectsText {
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    height: 250px;
}

.projectsBtn {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: linear-gradient(321deg, rgba(2,0,36,0.29850672468354433) 0%, rgba(9,9,121,0.3080003955696202) 35%, rgba(0,212,255,0.3238231803797469) 100%);
    width: 175px;
    transform: scale(1.25);
    color: #000;
    font-family: "Medium";
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    border: none;
    text-decoration: none;
}

.projectsBtn:hover{
    transform: scale(1.20);
    cursor: pointer;
}
    


/* @media screen and (max-width: 500px) {
    .projectsContent {
        width: 300px;
    }
    .projectsContent:hover{
        box-shadow: 0px 7px 10px -2.5px #808080;
    }
    .projectsImage {
        width: 300px;
    }
}

@media screen and (min-width: 500px) {
    .projectsContent {
        width: 400px;
    }
    .projectsContent:hover{
        box-shadow: 0px 7px 10px -2.5px #808080;
    }
    .projectsImage {
        width: 400px;
    }
}

@media screen and (min-width: 991px) {
    .projectsContent {
        width: 400px;
    }
    .projectsContent:hover{
        box-shadow: 0px 7px 10px -2.5px #808080;
    }
    .projectsImage  {
        width: 400px;
        height: 225px;
    }
}

@media screen and (min-width: 1168px) {
    .projectsContent {
        width: 500px;
    }
    .projectsContent:hover{
        box-shadow: 0px 7px 10px -2.5px #808080;
    }
    .projectsImage {
        width: 500px;
        height: 280px;
    }
    
} */