html {
  position: relative;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "Light";
  src: local("Roboto"),
  url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Roboto"),
  url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
